<%- include("../includes/header.ejs", {title: referee.first_name + ' ' + referee.last_name}); %>
<h1 style="color: midnightblue">Viewing Referee </h1>
<img src="/images/player/player_default.jpeg"
     style="border: groove;border-color: midnightblue;border-width: thick">
<ul>
    <br/>
    <li style="font-weight:bold">First Name: <%= referee.first_name %></li>
    <li>Last Name: <%= referee.last_name %></li>
    <li style="font-weight:bold">Age: <%= referee.age %></li>
    <li>Is From: <%= referee.country_name %></li>

</ul>

<a class="btn btn-primary" href="/referee/all"><< back</a>

<%- include("../includes/footer.ejs"); %>