<%- include("../includes/header.ejs", {title:"Referee - Number of Games"}); %>

<h1 style="color: midnightblue">Referee - Number of Games</h1>

<p>Click on a referee to view more about them or click on View Games to view the games they ref!</p>
<table border="1">
    <tr>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Referee Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite"># Games</th>
        <th style="padding: 5px;background-color:indigo;color: ghostwhite">Games</th></tr>
    <% for(var i=0; refs.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a class="btn btn-primary" href="/referee/?ref_id=<%= refs[i].ref_id %>"><%= refs[i].first_name %> <%= refs[i].last_name %></a></td>
        <td style="padding: 5px"><%= refs[i].NumGames %></td>
        <td style="padding: 5px">
            <button class="btn btn-warning" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
                    onclick="event.preventDefault();window.location.href='/referee/viewGamesForRef/?ref_id=<%= refs[i].ref_id %>'">View Games
            </button>
        </td>
    </tr>
    <% } %>
</table>



<br/><a class="btn btn-success" href="/referee/all">Back To View Refs</a>
<%- include("../includes/footer.ejs"); %>