<%- include("./includes/header.ejs", {title: title}); %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                <h1 style="font-family: 'Graduate', cursive;font-size: 5em">World Soccer League</h1>
            </div>
        </div>
        <div class="row">
            <div class="jumbotron" style="background: url(https://2hbs3q1gce7v3ovpvh34am44-wpengine.netdna-ssl.com/wp-content/uploads/2016/02/Depositphotos_33543949_original.jpg);
    background-size: 100%;">
                <h1 class="display-4" style="color: white;text-shadow: 2px 2px 4px #000000;">Hello, soccer fanatics!</h1>
                <p class="lead" style=>This is a simple football/soccer league organizer for amateur leagues and even semi pro!</p>
                <hr class="my-4">
                <p>It provides player registration, team formation, match scheduling, and more! </p>
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        What would you like to do?
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/player/all">Manage Players</a><br/>
                        <a class="dropdown-item" href="/team/all" >Manage Teams</a><br/>
                        <a class="dropdown-item" href="/manager/all" >Manage Managers/Coaches</a><br/>
                        <a class="dropdown-item" href="/referee/all" >Manage Referees</a><br/>
                        <a class="dropdown-item" href="/stadium/all" >Manage Stadiums/Venues</a><br/>
                        <a class="dropdown-item" href="/game/all" >Manage Schedule/Games</a><br/>
                        <a class="dropdown-item" href="/country/all" >List of Countries</a><br/>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/about" >About WSL</a><br/>
                    </div>
                </div>
            </div>
        </div>

    <!-- <h1 style="color: midnightblue"><%= title %><small class="text-muted" style="font-style: italic"> - A new way of organization</small></h1>
    <p class="lead">Welcome to the <%= title %> web app!

        <a style="float: right;padding: 8px" href="#" class="fa fa-google"></a>
        <a style="float: right;padding: 8px" href="#" class="fa fa-youtube"></a>
        <a style="float: right;padding: 8px" href="#" class="fa fa-snapchat-ghost"></a>
        <a style="float: right;padding: 8px" href="#" class="fa fa-android"></a>
        <a style="float: right;padding: 8px" href="#" class="fa fa-dribbble"></a>
        <a style="float: right;padding: 8px" href="#" class="fa fa-reddit"></a>
        <a style="float: right;padding: 8px" href="#" class="fa fa-instagram"></a>
        <a style="float: right;padding: 8px" href="#" class="fa fa-twitter"></a>
        <a style="float: right;padding: 8px" href="#" class="fa fa-facebook"></a>
    </p>

    <p>What would you like to do?</p>

    <a href="/player/all">Manage Players</a><br/>
    <a href="/team/all">Manage Teams</a><br/>
    <a href="/manager/all">Manage Managers/Coaches</a><br/>
    <a href="/referee/all">Manage Referees</a><br/>
    <a href="/stadium/all">Manage Stadiums/Venues</a><br/>
    <a href="/game/all">Manage Schedule/Games</a><br/><br/>
    <a href="/country/all">List of Countries</a><br/>
    <a href="/about">About WSL</a>

    <hr class="my-4" style="border-color: indigo">
    <p>To get started with your soccer league, simply click on the button below!</p>

    <div class="dropdown">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            What would you like to do?
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/player/all">Manage Players</a><br/>
            <a class="dropdown-item" href="/team/all" >Manage Teams</a><br/>
            <a class="dropdown-item" href="/manager/all" >Manage Managers/Coaches</a><br/>
            <a class="dropdown-item" href="/referee/all" >Manage Referees</a><br/>
            <a class="dropdown-item" href="/stadium/all" >Manage Stadiums/Venues</a><br/>
            <a class="dropdown-item" href="/game/all" >Manage Schedule/Games</a><br/>
            <a class="dropdown-item" href="/country/all" >List of Countries</a><br/>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/about" >About WSL</a><br/>
        </div>
    </div> -->
    <br/>
    <br/>

    <iframe style="float: left;padding-right: 100px" src="https://giphy.com/embed/LdyciberMBBcc" width="480" height="367" frameBorder="0"></iframe>
    <br/>
    <a style="float: left;padding-left: 100px" class="twitter-timeline" href="https://twitter.com/ScoresPro" data-widget-id="377321155557744640"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);
    }}(document,"script","twitter-wjs");</script>

    <!-- Hey Webmaster! Place this html code where you'd like the game to appear. -->
    <iframe src="https://www.silvergames.com/en/penalty-shootout-multi-league/iframe" width="852" height="480" style="margin:0;padding:0;border:0"></iframe>
    <!-- End of game embed code -->
    </div>

<%- include("./includes/footer.ejs"); %>
