<%- include("../includes/header.ejs", {title:"Team AVG Stats"}); %>

<h1 style="color: midnightblue">Team Average Stats</h1><br/>

<a class="btn btn-success" href="/team/all">Back To Homepage</a><br/>

<br/>

<p>Click on a team to view more about them!</p>

<div class="alert alert-danger" role="alert">
    * Some teams do not have players
</div>

<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Team Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite"># Players</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">AVG Shooting</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">AVG Passing</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">AVG Pace</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">AVG Defending</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">AVG Physical</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">AVG Dribbling</th>
    </tr>
    <% for(var i=0; teams.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a class="btn btn-primary" href="/team/?team_id=<%= teams[i].team_id %>"><%= teams[i].Team %></a></td>
        <td>
            <button type="button" class="btn btn-primary">
                Players <span class="badge badge-light"><%= teams[i].NumPlayersOnTeam %></span>
            </button>
        </td>
        <td style="padding: 5px"><%= teams[i].AVGShooting %></td>
        <td style="padding: 5px"><%= teams[i].AVGPassing %></td>
        <td style="padding: 5px"><%= teams[i].AVGPace %></td>
        <td style="padding: 5px"><%= teams[i].AVGDefending %></td>
        <td style="padding: 5px"><%= teams[i].AVGPhysical %></td>
        <td style="padding: 5px"><%= teams[i].AVGDribbling %></td>

    </tr>
    <% } %>
</table>


<br/><a class="btn btn-success" href="/team/all">Back To Homepage</a><br/>
<%- include("../includes/footer.ejs"); %>