<%- include("../includes/header.ejs", {title:"Register Team"}); %>
<h1 style="color: midnightblue">Register New Team </h1>
<a class="btn btn-success" href="/team/all">Back to All Teams</a><br/><br/>
<form action="/team/insert" method="post">
    Team Name: <input id="team_name" name="team_name" type="text" />
    <br />
    <br/>
    Home Color: <input id="home_color" name="home_color" type="text" />
    <br />
    <br/>
    Away Color: <input id="away_color" name="away_color" type="text" />
    <br />
    <br />
    Third Color: <input id="third_color" name="third_color" type="text" />
    <br />
    <br />

    Stadium: (If stadium not displayed, add it) <br/>
    <select id="stadium_id" name="stadium_id">
        <% for(var i=0; stadiums.length > i; i++ ) { %>
        <option value="<%= stadiums[i].stadium_id %>"><%= stadiums[i].stadium_name %></option>
        <% } %>
    </select>

    <br />
    <br />

    Manager: (If manager not displayed, add it) <br/>
    <select id="manager_id" name="manager_id">
        <% for(var i=0; managers.length > i; i++ ) { %>
        <option value="<%= managers[i].manager_id %>"><%= managers[i].first_name %> <%= managers[i].last_name %></option>
        <% } %>
    </select>

    <br />
    <br />

    <input type="submit" class="btn btn-primary"/>

    <br />
    <br />

</form>

<a class="btn btn-success" href="/team/all">Back to All Teams</a>

<%- include("../includes/footer.ejs"); %>