<%- include("../includes/header.ejs", {title: team.team_name}); %>
<h1 style="color: midnightblue">Viewing Team: <%= team.team_name %> </h1>
<img src="<%= image.link %>" width="250" height="250" title="<%= team.team_name %>">
<ul>
    <br/>
    <li style="font-weight:bold">Team Name: <%= team.team_name %></li>
    <li>Home Color: <%= team.home_color %></li>
    <li style="font-weight:bold">Away Color: <%= team.away_color %></li>
    <li>Third Color: <%= team.third_color %></li>
    <li style="font-weight:bold">Stadium: <%= stadium.stadium_name %>, <%= stadium.address %></li>
    <li>Manager: <%= manager.first_name %>  <%= manager.last_name %></li><br/>
    <p><button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/team/viewPlayersForTeam/?team_id=<%= team.team_id %>'">View Players For <%= team.team_name %></button></p>
    <p><button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/team/viewGamesForTeam/?team_id=<%= team.team_id %>'">View Schedule For <%= team.team_name %></button></p>

    <p><button onclick="event.preventDefault();window.location.href='/team/uploadForTeam/?team_id=<%= team.team_id %>'">Upload Crest</button></p>
</ul>

<a class="btn btn-success" href="/team/all"><< back</a>

<%- include("../includes/footer.ejs"); %>