<%- include("../includes/header.ejs", {title:"Games For" + ' ' + team}); %>

<h1 style="color: midnightblue">Games For <%= team %></h1>
<h3>Games:</h3>
<table border="1">
    <tr>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Week #</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Match #</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Home Team</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Away Team</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Winner</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Home Score</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Away Score</th>
    </tr>
    <% for(var i=0; games.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><%= games[i].week %></td>
        <td style="padding: 5px"><%= games[i].match_id %></td>
        <td style="padding: 5px"><%= games[i].HomeTeam %></td>
        <td style="padding: 5px"><%= games[i].AwayTeam %></td>
        <td style="padding: 5px"><%= games[i].winner %></td>
        <td style="padding: 5px"><%= games[i].scoreH %></td>
        <td style="padding: 5px"><%= games[i].scoreA %></td>
    </tr>
    <% } %>
</table>

<br/><a class="btn btn-success" href="/team/all">Back To Teams </a>
<%- include("../includes/footer.ejs"); %>