<%- include("../includes/header.ejs", {title: players[0].TeamName + " - " + "Players"}); %>

<h1 style="color: midnightblue"><%= players[0].TeamName %> Players</h1>

<table border="1">
    <tr>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Full Player Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Position</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">AVG Rating</th>

    </tr>
    <% for(var i=0; players.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a class="btn btn-primary" href="/player/?player_id=<%= players[i].player_id %>"><%= players[i].first_name %> <%= players[i].last_name %></a></td>
        <td style="padding: 5px"><%= players[i].position %> </td>
        <td style="padding: 5px"><%= players[i].AVGRating %> </td>
    </tr>
    <% } %>
</table>

<br/><a class="btn btn-success" href="/team/?team_id=<%= players[0].team_id %>"><< Back</a>
<%- include("../includes/footer.ejs"); %>