<%- include("../includes/header.ejs", {title: players[0].country_name + " - " + "Players"}); %>

<h1 style="color: midnightblue">Players from: <%= players[0].country_name %></h1>

<table border="1">
    <tr>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Full Player Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Team</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Position</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">AVG Rating</th>

    </tr>
    <% for(var i=0; players.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a class="btn btn-primary" href="/player/?player_id=<%= players[i].player_id %>"><%= players[i].first_name %> <%= players[i].last_name %></a></td>
        <td style="padding: 5px"><%= players[i].team_name %></td>
        <td style="padding: 5px"><%= players[i].position %> </td>
        <td style="padding: 5px"><%= players[i].rating %> </td>
    </tr>
    <% } %>
</table>

<br/><a class="btn btn-success" href="/country/all"><< Back</a>
<%- include("../includes/footer.ejs"); %>