<%- include("../includes/header.ejs", {title:"Stadiums"}); %>

<h1 style="color: midnightblue">Stadiums</h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Stadium: <%= stadiumName %> was successfully registered. %>
    </div>
</div>
<% }%>

<% if(locals.edit_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        Stadium: <%= stadiumName %> was successfully edited. %>
    </div>
</div>
<% }%>

<a class="btn btn-primary btn-lg" href="/stadium/add">Add New Stadium/Venue</a><br/>

<br/>
<p>Click on a stadium to view more about them!</p>

<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Stadium Name</th><th style="padding: 5px;background-color:indigo;color: ghostwhite">Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a class="btn btn-primary" href="/stadium/?stadium_id=<%= result[i].stadium_id %>"><%= result[i].stadium_name %></a></td>
        <td style="padding: 5px">
            <button class="btn btn-info" onclick="event.preventDefault();window.location.href='/stadium/edit/?stadium_id=<%= result[i].stadium_id %>'">Edit</button>
            <form action="/stadium/delete/" style="display:inline;">
                <input type="hidden" name="stadium_id" id="stadium_id" value="<%= result[i].stadium_id %>" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </td>
    </tr>
    <% } %>
</table>

<br/><a class="btn btn-success" href="/">Back To Homepage</a>
<%- include("../includes/footer.ejs"); %>