<%- include("../includes/header.ejs", {title:"No Games"}); %>

<h1 style="color: midnightblue">Teams With No Games</h1>
<h3><a class="btn btn-info btn-lg" href="/game/add">Create a game</a></h3><br/>

<h4>Teams:</h4>
<table border="1">
    <tr>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Team Name</th>
    </tr>
    <% for(var i=0; teams.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a class="btn btn-primary" href="/team/?team_id=<%= teams[i].team_id %>"> <%= teams[i].team_name %></a></td>
    </tr>
    <% } %>
</table>

<br/><a class="btn btn-success" href="/game/all">Back To All Games</a>
<%- include("../includes/footer.ejs"); %>