<%- include("../includes/header.ejs", {title: "Update " + manager.first_name + ' ' + manager.last_name}); %>

<h1>Update <%= manager.first_name%>  <%= manager.last_name%></h1>

<form action="/manager/update" method="get">
    <input type="hidden" id="manager_id" name="manager_id" value="<%= manager.manager_id %>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= manager.first_name%>"/>
    <br />
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= manager.last_name%>"/>
    <br/>
    <br/>
    Age: <input id="age" name="age" type="number" min="1" value="<%= manager.age%>"/>
    <br />
    <br />

    Country: (If country not displayed, add it) <br/>
    <select id="country_id" name="country_id">
        <option value="<%= manager.country_id%>">Original Country</option>
        <% for(var i=0; countries.length > i; i++ ) { %>
        <option value="<%= countries[i].country_id %>"><%= countries[i].country_name %></option>
        <% } %>

    </select>

    <br />
    <br />

    <input type="submit" class="btn btn-primary" />
</form>

<br />
<br />

<a class="btn btn-success" href="/manager/all">BACK TO MANAGER LIST</a>

<%- include("../includes/footer.ejs"); %>