<%- include("../includes/header.ejs", {title: manager.first_name + ' ' + manager.last_name}); %>
<h1 style="color: midnightblue">Viewing Manager </h1>
<img src="/images/player/player_default.jpeg"
     style="border: groove;border-color: midnightblue;border-width: thick">
<ul>
    <br/>
    <li style="font-weight:bold">First Name: <%= manager.first_name %></li>
    <li>Last Name: <%= manager.last_name %></li>
    <li style="font-weight:bold">Age: <%= manager.age %></li>
    <li>Manages: <%= manager.team_name %></li>
    <li style="font-weight:bold">Is From: <%= manager.country_name %></li>

</ul>

<a class="btn btn-success" href="/manager/all"><< back</a>

<%- include("../includes/footer.ejs"); %>