<%- include("../includes/header.ejs", {title:"Register Manager"}); %>
<h1 style="color: midnightblue">Register New Manager</h1>
<a class="btn btn-success" href="/manager/all">Back to All Managers</a><br/><br/>
<form action="/manager/insert" method="post">
    First Name: <input id="first_name" name="first_name" type="text" />
    <br />
    <br/>
    Last Name: <input id="last_name" name="last_name" type="text" />
    <br />
    <br/>
    Age: <input id="age" name="age" type="number" min="1"/>
    <br />
    <br />
    Country: (If country not displayed, add it) <br/>
    <select id="country_id" name="country_id">
        <% for(var i=0; countries.length > i; i++ ) { %>
        <option value="<%= countries[i].country_id %>"><%= countries[i].country_name %></option>
        <% } %>

    </select>

    <br />
    <br />
    <input type="submit" class="btn btn-primary" />

    <br />
    <br />
</form>

<a class="btn btn-success" href="/manager/all">Back to All Managers</a>

<%- include("../includes/footer.ejs"); %>