<%- include("../includes/header.ejs", {title:"About"}); %>
<h1 style="color: midnightblue">About World Soccer League! <img src="images/FC_Barcelona.png" width="75"/>
    <img src="images/Real_Madrid_CF.png" width="70"/>
    <img src="images/Atletico_Madrid.png" width="70"/>
    <img src="images/FC_Bayern_Munich.png" width="75"/>
    <img src="images/psgicon.png" width="80"/>
    <img src="images/Juventus_FC.png" width="75"/>
</h1>

<img src="images/Ibrox_Stadium_Panorama_2012.jpg" alt="Ball on field" width="100%" height="250" />

<br/>
<br/>
<a class="btn btn-primary" href="images/ER_Diagram.png" role="button">ER Diagram</a>
<a class="btn btn-primary" href="images/Relational_Schema.png" role="button">Relational Schema</a>
<br/>

<h3><u>Our Goooooooal!:</u><h6>(no pun intended)</h6></h3>
<p>At World Soccer League, we are committed to create a stress free, user friendly application that allows the world
to come together and enjoy soccer (or football) by hosting tournaments, leagues, and championships. Users can create
teams, add players and managers/coaches to those teams, register refs for games, and most importantly, create matches
and report scores!
Updated daily, World Soccer League is perfect for any soccer community interested in slowly transforming into an actual
professional league!
</p>
<p>Created in 2017 by <a href="https://www.instagram.com/juanm21_/" target="_blank">Juan Martinez</a>, WSL will be the future of soccer
scheduling, competition, and seasons for many leagues (both amateur and professional). </p>
<p>Juan grew up in the tiny town of <a href="https://goo.gl/maps/uhUNM2kVqqt" target="_blank">Calistoga, California</a>. As a youngster,
his dad introduced him to <a href="https://en.wikipedia.org/wiki/The_Beautiful_Game" target="_blank">"the beautiful game"</a> aka soccer. As time
went by, he wondered if it was possible to make many soccer organization's lives easier. At the young age of 19, he
was able to develop an application that did just the job.</p>
<p>He followed 3 rules to make his dream come true:</p>
<ol>
    <li>Hard Work</li>
    <li>Dedication</li>
    <li>Commitment</li>
</ol>
<p>Now Juan will continue to work, improving his app and creating new ones, and learn new ideas to further increase the
satisfaction from the users and unite the world to be a soccer loving planet.
<br/>To contact Juan for comments/suggestions, email him at: <a href="mailto:juanm.jm49@gmail.com">juanm.jm49@gmail.com</a></p><br/>

<div class="card" style="width: 18rem;float: left;margin-right: 5px">
    <img class="card-img-top" src="/images/preview-primary-blue.jpg" width="178"  height="100" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Education</h5>
        <p class="card-text">Juan is in his 2nd year at Sonoma State University, majoring in Computer Science.</p>
        <a href="https://www.sonoma.edu/" class="btn btn-primary">Go to SSU</a>
    </div>
</div>

<div class="card" style="width: 18rem;float: left;margin-right: 5px">
     <img class="card-img-top" src="/images/Sport_balls.svg" width="178"  height="100" alt="Card image cap">
     <div class="card-body">
         <h5 class="card-title">Other Apps</h5>
         <p class="card-text">Include basketball, baseball, and football!</p><br/><br/>
         <a href="#" class="btn btn-primary">View Other Apps</a>
     </div>
</div>

<div class="card" style="width: 18rem;float: left;margin-right: 5px">
    <img class="card-img-top" src="/images/world-soccer-shop_coupons.jpg" width="178"  height="100" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">World Soccer Shop</h5>
        <p class="card-text">Order soccer gear for your team and custom items!</p><br/>
        <a href="https://www.worldsoccershop.com/" class="btn btn-primary">Visit Store</a>
    </div>
</div>

<div class="card" style="width: 18rem;float: left;margin-right: 5px">
    <img class="card-img-top" src="images/Martinez FS Logo 2017.png" width="178"  height="100" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">© 2017</h5>
        <a href="/" class="btn btn-primary">Back To Homepage</a>
    </div>
</div>

<%- include("../includes/footer.ejs"); %>
