<%- include("../includes/header.ejs", {title: player.first_name + ' ' + player.last_name}); %>
<h1 style="color: midnightblue">Viewing Player </h1>
<img src="/images/player/player_default.jpeg"
     style="border: groove;border-color: midnightblue;border-width: thick">
<ul class="list-group">
    <br/>
    <li class="list-group-item" style="font-weight:bold">First Name: <%= player.first_name %></li>
    <li class="list-group-item">Last Name: <%= player.last_name %></li>
    <li class="list-group-item" style="font-weight:bold">Age: <%= player.age %></li>
    <li class="list-group-item">Height: <%= player.height %> cm</li>
    <li class="list-group-item" style="font-weight:bold">Overall Rating: <%= player.rating %></li>
    <li class="list-group-item">Position: <%= player.position %></li>
    <li class="list-group-item" style="font-weight:bold">Level: <%= player.level_ %></li>
    <li class="list-group-item">Skill Rating: <%= player.skills %></li>
    <li class="list-group-item" style="font-weight:bold">Shooting: <%= player.shooting %></li>
    <li class="list-group-item">Passing: <%= player.passing %></li>
    <li class="list-group-item" style="font-weight:bold">Pace: <%= player.pace %></li>
    <li class="list-group-item">Defending: <%= player.defending %></li>
    <li class="list-group-item" style="font-weight:bold">Physical: <%= player.physical %></li>
    <li class="list-group-item">Dribbling: <%= player.dribbling %></li>
    <li class="list-group-item" style="font-weight:bold">Plays For: <%= team.team_name %></li>
    <li class="list-group-item">Is From: <%= country.country_name %></li>
</ul>

<a class="btn btn-success" href="/player/all"><< back</a>

<%- include("../includes/footer.ejs"); %>