<%- include("../includes/header.ejs", {title: "Update " + player.first_name + ' ' + player.last_name}); %>

<h1>Update <%= player.first_name%>  <%= player.last_name%></h1>

<form action="/player/update" method="get">
    <input type="hidden" id="player_id" name="player_id" value="<%= player.player_id %>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= player.first_name%>"/>
    <br />
    <br />
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= player.last_name%>"/>
    <br/>
    <br/>
    Age: <input id="age" name="age" type="number" min="1" value="<%= player.age%>"/>
    <br />
    <br />
    Height (cm): <input id="height" name="height" type="number" min="1" value="<%= player.height%>"/>
    <br />
    <br />
    Position: <br/>
    <select id="position" name="position">
        <option value="<%= player.position%>">Original Position</option>
        <option value="Striker">Striker</option>
        <option value="Left Wing">Left Wing</option>
        <option value="Right Wing">Right Wing</option>
        <option value="Center Forward">Center Forward</option>
        <option value="Left Forward">Left Forward</option>
        <option value="Right Forward">Right Forward</option>
        <option value="Center Attacking Midfield">Center Attacking Midfield</option>
        <option value="Center Midfield">Center Midfield</option>
        <option value="Left Midfield">Left Midfield</option>
        <option value="Right Midfield">Right Midfield</option>
        <option value="Center Defensive Midfield">Center Defensive Midfield</option>
        <option value="Left Wing Back">Left Wing Back</option>
        <option value="Center Back">Center Back</option>
        <option value="Left Back">Left Back</option>
        <option value="Right Back">Right Back</option>
        <option value="Right Wing Back">Right Wing Back</option>
        <option value="Goalkeeper">Goalkeeper</option>
    </select>
    <br />
    <br />
    Level: (SELECT LEVEL)<br/>
    <select id="level_" name="level_">
        <option value="Gold">Gold</option>
        <option value="Silver">Silver</option>
        <option value="Bronze">Bronze</option>
    </select>
    <br />
    <br />

    Skill Rating: <input id="skills" name="skills" type="number" min="1" max="5" value="<%= player.skills%>"/>
    <br />
    <br />
    Shooting: <input id="shooting" name="shooting" type="number" min="1" max="99" value="<%= player.shooting%>"/>
    <br />
    <br />
    Passing: <input id="passing" name="passing" type="number" min="1" max="99" value="<%= player.passing%>"/>
    <br />
    <br />
    Pace: <input id="pace" name="pace" type="number" min="1" max="99" value="<%= player.pace%>"/>
    <br />
    <br />
    Defending: <input id="defending" name="defending" type="number" min="1" max="99" value="<%= player.defending%>"/>
    <br />
    <br />
    Physical: <input id="physical" name="physical" type="number" min="1" max="99" value="<%= player.physical%>"/>
    <br />
    <br />
    Dribbling: <input id="dribbling" name="dribbling" type="number" min="1" max="99" value="<%= player.dribbling%>"/>
    <br />
    <br />

    Country: (If country not displayed, add it) <br/>
    <select id="country_id" name="country_id">
        <option value="<%= player.country_id%>">Original Country</option>
        <% for(var i=0; countries.length > i; i++ ) { %>
        <option value="<%= countries[i].country_id %>"><%= countries[i].country_name %></option>
        <% } %>

    </select>

    <br />
    <br />

    Team: (If team not displayed, add it) <br/>
    <select id="team_id" name="team_id">
        <option value="<%= player.team_id%>">Original Team</option>
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
        <% } %>
    </select>

    <br />
    <br />

<input type="submit" class="btn btn-primary"/>
</form>

<br />
<br />

<a class="btn btn-success" href="/player/all">BACK TO PLAYERS LIST</a>

<%- include("../includes/footer.ejs"); %>

