<%- include("../includes/header.ejs", {title:"Register Player"}); %>
<h1 style="color: midnightblue">Register New Player <img src="/images/player/130715105120-steven-gerrard-t2-single-image-cut.jpg"
                                                         width="225" height="150" style="border: groove;border-color:
                                                         midnightblue;border-width: thick"></h1>
<a href="/player/all">Back to All Players</a><br/><br/>

<form action="/player/insert" method="post">
    <div class="form-group">
        <label>First Name:</label>
        <input id="first_name" name="first_name" type="text" />
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <input id="last_name" name="last_name" type="text" />
    </div>
    <div class="form-group">
        <label>Age:</label>
        <input id="age" name="age" type="number" min="1"/>
    </div>
    <div class="form-group">
        <label>Height (cm):</label>
        <input id="height" name="height" type="number" min="1"/>
    </div>
    <div class="form-group">
        <label>Position:</label>
        <select id="position" name="position">
            <option value="Striker">Striker</option>
            <option value="Left Wing">Left Wing</option>
            <option value="Right Wing">Right Wing</option>
            <option value="Center Forward">Center Forward</option>
            <option value="Left Forward">Left Forward</option>
            <option value="Right Forward">Right Forward</option>
            <option value="Center Attacking Midfield">Center Attacking Midfield</option>
            <option value="Center Midfield">Center Midfield</option>
            <option value="Left Midfield">Left Midfield</option>
            <option value="Right Midfield">Right Midfield</option>
            <option value="Center Defensive Midfield">Center Defensive Midfield</option>
            <option value="Left Wing Back">Left Wing Back</option>
            <option value="Center Back">Center Back</option>
            <option value="Left Back">Left Back</option>
            <option value="Right Back">Right Back</option>
            <option value="Right Wing Back">Right Wing Back</option>
            <option value="Goalkeeper">Goalkeeper</option>
        </select>
    </div>
    <div class="form-group">
        <label>Level:</label>
        <select id="level_" name="level_">
            <option value="Gold">Gold</option>
            <option value="Silver">Silver</option>
            <option value="Bronze">Bronze</option>
        </select>
    </div>
    <div class="form-group">
        <label>Skill Rating:</label>
        <input id="skills" name="skills" type="number" min="1" max="5"/>
    </div>
    <div class="form-group">
        <label>Shooting:</label>
        <input id="shooting" name="shooting" type="number" min="1" max="99"/>
    </div>
    <div class="form-group">
        <label>Passing:</label>
        <input id="passing" name="passing" type="number" min="1" max="99"/>
    </div>
    <div class="form-group">
        <label>Pace:</label>
        <input id="pace" name="pace" type="number" min="1" max="99"/>
    </div>
    <div class="form-group">
        <label>Defending:</label>
        <input id="defending" name="defending" type="number" min="1" max="99"/>
    </div>
    <div class="form-group">
        <label>Physical:</label>
        <input id="physical" name="physical" type="number" min="1" max="99"/>
    </div>
    <div class="form-group">
        <label>Dribbling:</label>
        <input id="dribbling" name="dribbling" type="number" min="1" max="99"/>
    </div>
    <div class="form-group">
        <label>Country: (If country not displayed, add it)</label>
        <select id="country_id" name="country_id">
            <% for(var i=0; countries.length > i; i++ ) { %>
            <option value="<%= countries[i].country_id %>"><%= countries[i].country_name %></option>
            <% } %>
        </select>
    </div>
    <div class="form-group">
        <label>Team: (If team not displayed, add it)</label>
        <select id="team_id" name="team_id">
            <% for(var i=0; teams.length > i; i++ ) { %>
            <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
            <% } %>
        </select>
    </div>

    <br />

    <input type="submit" class="btn btn-primary" />

    <br />
    <br />
</form>

<a href="/player/all">Back to All Players</a>

<%- include("../includes/footer.ejs"); %>