<%- include("../includes/header.ejs", {title:"List of Players"}); %>

<div class="container-fluid">

    <h1>List of Players</h1>

    <% if(locals.was_successful) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Player: <%= playerF %> <%= playerL %> was successfully registered. %>
        </div>
    </div>
    <% }%>

    <% if(locals.edit_successful) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            Player: <%= playerF %> <%= playerL %> was successfully edited. %>
        </div>
    </div>
    <% }%>

    <h3><a class="btn btn-primary btn-lg" href="/player/add" role="button">Register Player</a></h3><br/>
    <p><a href="/player/helpWin">Click here to view players that can help win your next game</a></p>
    <p><a href="/player/sort">Click here to sort players by a certain stat</a></p>
    <p><a href="/player/positions">Click here to sort players by posititons</a></p>

    <div class="search-container">
        <form action="/player/search">
            <input type="text" placeholder="Search by name..." name="search">
            <p>* Just first name or last name!</p>
            <button type="submit">Submit</button>
        </form>
    </div>

    <br/>

    <a class="btn btn-success" href="/">Back To Homepage</a><br/>

    <br/>

    <p>Click on a player to view more about them!</p>


    <div class="row">

        <% for(var i=0; result.length > i; i++ ) { %>

        <div class="col-sm-6">
            <div class="card" style="margin-top: 1em;border: 1px solid #228de2;border-radius: 20px;background-color: rgba(8,202,226,0.39)">
                <div class="card-body" >
                    <h5 class="card-title" style="font-size: 24px;text-decoration: underline"><%= result[i].first_name %> <%= result[i].last_name %></h5>
                    <p class="card-text">
                        <img src="/images/player/player_default.jpeg" class="img-thumbnail" style="float: right;margin-right: 1em;width: 150px;height: 150px">
                        Age: <%=result[i].age%><br/>
                        Height: <%=result[i].height%><br/>
                        Team: <%=result[i].team_name%><br/>
                        Position: <%=result[i].position%><br/>
                        Country: <%=result[i].country_name%><br/>
                        Pace: <%=result[i].pace%><br/>
                        Passing: <%=result[i].passing%><br/>
                        Physical: <%=result[i].physical%><br/>
                        Shooting: <%=result[i].shooting%><br/>
                        Defending: <%=result[i].defending%><br/>
                        Dribbling: <%=result[i].dribbling%><br/>
                        Skills: <%=result[i].skills%><br/>
                        Level: <%=result[i].level_%><br/>
                        Overall Rating: <%=result[i].rating%>
                    </p>
                    <a href="/player/?player_id=<%= result[i].player_id %>" class="btn btn-primary">View <%= result[i].first_name %> <%= result[i].last_name %></a>

                    <button style="background-color: orange;border-color: coral" class="btn btn-info" onclick="event.preventDefault();window.location.href='/player/edit/?player_id=<%= result[i].player_id %>'">Edit</button>

                    <form action="/player/delete/" style="display:inline;">
                        <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>

                </div>
            </div>
        </div>

        <% } %>

    </div>
</div>

<%- include("../includes/footer.ejs"); %>