<%- include("../includes/header.ejs", {title:"List of Players By Search"}); %>

<h1 style="color: midnightblue">Players</h1>
<p style="color: #440044">* These players were found for the name: <%= searched %></p>

<p>Click on a player to view more about them!</p>

<table border="1">
    <tr>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Full Player Name</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Age</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Height</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Position</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Level</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Skill Rating</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Shooting</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Passing</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Pace</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Defending</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Physical</th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Dribbling</th>

    </tr>

    <% for(var i=0; players.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a class="btn btn-primary" href="/player/?player_id=<%= players[i].player_id %>"><%= players[i].first_name %> <%= players[i].last_name %></a></td>
        <td style="padding: 5px"><%= players[i].age %></td>
        <td style="padding: 5px"><%= players[i].height %></td>
        <td style="padding: 5px"><%= players[i].position %></td>
        <td style="padding: 5px"><%= players[i].level_ %></td>
        <td style="padding: 5px"><%= players[i].skills%></td>
        <td style="padding: 5px"><%= players[i].shooting %></td>
        <td style="padding: 5px"><%= players[i].passing %></td>
        <td style="padding: 5px"><%= players[i].pace %></td>
        <td style="padding: 5px"><%= players[i].defending %></td>
        <td style="padding: 5px"><%= players[i].physical %></td>
        <td style="padding: 5px"><%= players[i].dribbling %></td>
    </tr>
    <% } %>

</table>

<br/><a href="/player/all"><< Back</a>
<%- include("../includes/footer.ejs"); %>