<%- include("../includes/header.ejs", {title:"List of Players"}); %>

<h1 style="color: midnightblue">Sorted Players: <%= stat %> over <%= value %></h1>
<br/><a class="btn btn-success" href="/player/sort">Back To Sort</a><br/><br/>
<br/>
<table border="1">
    <tr><th style="padding:5px;background-color:indigo;color: ghostwhite">Full Player Name</th>
        <th style="padding: 5px;background-color:indigo;color: ghostwhite"><%= stat %></th>
        <th style="padding:5px;background-color:indigo;color: ghostwhite">Plays For</th>
    </tr>
    <% for(var i=0; players.length > i; i++ ) { %>
    <tr>
        <td style="padding: 5px"><a class="btn btn-primary" href="/player/?player_id=<%= players[i].player_id %>"
                                    role="button"><%= players[i].first_name %> <%= players[i].last_name %></a></td>
        <td style="padding: 5px">
            <%= players[i].stat %>
        </td>
        <td style="padding: 5px">
            <p><%= players[i].team_name %></p>
        </td>
    </tr>
    <% } %>
</table>

<br/><a class="btn btn-success" href="/player/sort">Back To Sort</a>
<%- include("../includes/footer.ejs"); %>