<%- include("../includes/header.ejs", {title:"Sort Players"}); %>

<h1 style="color: midnightblue">Sort Players</h1>
<p>Select a stat and a value between 0 - 99 to view players greater than number provided in stat chosen! (0 to view all players)</p>

<form action="/player/sortBy" method="get">

    Stat:
    <select id="stat" name="stat">
        <option value=1>Shooting</option>
        <option value=2>Passing</option>
        <option value=3>Pace</option>
        <option value=4>Defending</option>
        <option value=5>Physical</option>
        <option value=6>Dribbling</option>
    </select>
    <br />
    <br />

    Value (0 - 99):<br/>
    <input id="value" name="value" type="number" min="0" max="99"/>

    <br/>
    <br/>
    <input type="submit" class="btn btn-primary"/>
    <br />
    <br />

</form>

<br/><a class="btn btn-success" href="/player/all">Back To Players</a>
<%- include("../includes/footer.ejs"); %>
